extends layout

block content
    div.text-center
        form(class="form-signin" method="GET" action="/translate")
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Try Translator
                div.text-center
        form(class="form-signin" method="GET" action="/analytics")
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Test using Fetch
        form(class="form-signin" method="GET" action="/fetch.html")
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Test Fetch Client Side
        form(class="form-signin" method="GET" action="/face")
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Test using Axios
        form(class="form-signin" method="GET" action="/axios.html")
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Test Axios Client Side

